body{
background: radial-gradient(ellipse at center, #4D4D4D 0%, #7A7A7A 46%, #999999 100%);
}
h2{
font-family: chiller;
font-size: 10px; 
background-color:#000;
outline: none;
}
.btn{
-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
background-color: #000;
border-radius: 100px;
Outline: none;
color: rgb(102, 102, 102);
font-size: 100px;
font-family: chiller;
}
.link{
-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
background-color: #000;
border-radius: 100px;
Outline: none;
color: rgb(102, 102, 102);
font-size: 20px;
font-family: chiller;  
}

.card{
border-radius: 100px;
font-size: 100px;
color: rgb(110, 110, 110);} 

p{
-webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
font-family: chiller;
font-size: 100px;
color: rgb(110, 110, 110);
background-color: #000;
border-radius: 100px;
outline: none;
}

img{
height:25px;
width:25px;
background-color: rgb(110, 110, 110);
}

.tooltip {
position: relative;

    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        color: #000;
        text-align: center;
        padding: 5px;
        outline: none;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        outline: none;
    }

table{
width: 100%;
font: 17px chiller;
}
table, th, td{
border: solid 1px #DDD;
border-collapse: collapse;
padding: 2px 3px;
text-align: center;
}      
input[type='button'] 
{
font: 15px Calibri;
cursor: pointer;
border: none;
color: #FFF;
}
input[type='text'], select 
{
font: 17px Calibri;
text-align: center;
border: solid 1px #CCC;
width: auto;
padding: 2px 3px;
}
